<%= form_for @todo_item, :url => url_for(:action => params[:action] == 'new' ? 'create' : 'update'), :method => params[:action] == 'new' ? 'post' : 'put' do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :assigned_to %><br />
    <%= f.select :assigned_to, TodoItem.collaborators, :selected => f.object.assigned_to.present? ? f.object.assigned_to : '' %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select :priority, TodoItem.priorities, :selected => f.object.priority.present? ? f.object.priority : 'Medium' %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, TodoItem.statuses, :selected => f.object.status.present? ? f.object.status : 'Pending' %>
  </div>
  <div class="field">
    <%= f.label :remind_at, 'Remind At' %><br />
    <%= f.text_field :remind_at, :class => 'date_time' %>
  </div>
  <div class="field">
    <%= f.label :geo_remind_at %><br />
    <%= f.select :geo_remind_at, TodoItem.geo_reminders, :selected => f.object.geo_remind_at.present? ? f.object.geo_remind_at : 'None' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
