<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped">
  <% headers = ["Title", "Owner", "Priorit", "Status", "Reminder", "Geo Reminder", "Attachment"] %>
  <% values = [@todo_item.title, @todo_item.owner, @todo_item.priority, @todo_item.status, @todo_item.reminder, @todo_item.geo_reminder, @todo_item.attachment] %>
  <!--<thead>-->
      <!--<tr>-->
        <!--<% headers.each do |h| %>-->
            <!--<th>-->
              <!--<%= h %>-->
            <!--</th>-->
        <!--<% end %>-->
      <!--</tr>-->
  <!--</thead>-->
  <tbody>
      <% 0.upto(values.size-1) do |i| %>
        <tr>
          <td>
            <%= headers[i] %>
          </td>
          <td>
            <%= values[i] %>
          </td>
        </tr>
      <% end %>
  </tbody>

</table>


<%= link_to 'Edit', edit_todo_item_path(@todo_item), {:class => "btn btn-lg btn-info"} %> |
<%= link_to 'Back', todo_items_path, {:class => "btn btn-lg btn-info"} %> |


<!--class="btn btn-lg btn-warning"-->